html {
    padding: 0;
    margin: 0;
    background-image: url('https://c0.wallpaperflare.com/preview/71/423/644/baby-babysitter-babysitting-child.jpg');
    background-position: center center;
    height: 99.9vh;
    width: 100%;
}