
/*  */
.card-body-auto {
    margin-top: 5%;
}
.card{
    margin-top: 5%;
}
.container {
    margin-top: 3%;
}
#panel-table{
    margin-top: 3%;
}
/* .anyClass {
    height:150px;
    overflow-y: scroll;
  } */

  .pagination > li > a,
  .pagination > li > span {
      color: black; 
      text-decoration-color: white;
  }
  
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
        background-color:black;
        border-color: black;
        color:white;
  }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: black;
}
